body{
    background-color: antiquewhite;
}
.section{
    color: blue;
    border: 1px solid black;
    width: 180px;
    float: left;
    padding: auto;
    margin: 2px;
    text-align: center;

}
.abbrivation{
    color:chocolate
}

#html_P{
    color: red
}

#css_p{
    color: green
}